html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
}

p {
  font-family: 'Montserrat';
  color: #8f8f8f;
  font-size: 0.95rem;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 900;
  /* color: #212529; */
}

h3 {
  font-family: 'Montserrat';
  font-weight: 600;
}

h5 {
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 1.5;
}

a {
  color: inherit;
  transition: all 0.5s ease;
}

hr {
  border: 2px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: #1b1919;
  border-style: solid;
  /* border: dotted 1px #1b1919; */
  width: 80%;
}

.white-bg {
  background-color: #f4f4f4;
  color: #1b1919;
}

.black-bg {
  background-color: #121417;
  color: #f4f4f4;
}

.header {
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2;
  font-size: 3rem;
  display: inline-block;
}

.header-black-bg {
  border: 3px solid #f4f4f4;
}

.header-white-bg {
  border: 3px solid #1b1919;
}
/*______*/

.next {
  font-family: 'Merriweather';
}

/* _________________________________________________________________________ */
/* Header - progress line */
.progress-line {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: #f5c20c;
  width: 0%;
}


/* _________________________________________________________________________ */
/* Front page */


.navigation-bar {
  position: absolute;
  right: 8rem;
  top: 6.05rem;
}

.navbar-toggler-icon {
  filter: invert(1);
  background-image: url("menu.png");
  font-size: 120%;
  opacity: 0.7;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #f4f4f4;
  font-weight: 500;
  border-bottom: solid 1.5px #fefefe;
  transition: all 0.5s ease;
}

.nav-link:hover {
  color: #777880;
  text-decoration: line-through;
}

/* Navbar - adding min-height as well*/



#background-front-page {
  background-image: url("GOPR0404-2-2.jpg");
  /* vh - viewport height - dopasowaie obrazu do wielkosci okna roboczego - w tym wypadku 100% wysokosci ekranu bedzie mialo zdjecie; 1vh = 1% of a monitor workig space; there is as well vw - viewport width; vmin - mniejsza z wartosci vh,vw; vmax - wieksza z wartosci vh,vw */
  height: 100vh;
  /* background-size: cover - Scales the image as large as possible without stretching the image. If the proportions of the image differ from the element, it is cropped either vertically or horizontally so that no empty space remains. */
  background-size: cover;
  /* Centers the image */
  background-position: center;
  /* The element behaves like a block element and lays out its content according to the flexbox model */
  display: flex;
  /* Centers (rows - so up, down plaszczyzna) */
  flex-direction: column;
  justify-content: center;
  /* Centers (columns - so left, right plaszczyzna) */
  align-items: center;
}


.petike-name {
  /* color: #f4f4f4; */
  color: white;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 800%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.arrow-down {
  position: absolute;
  color: #f4f4f4;
  font-size: 2.5rem;
  bottom: 5%;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.arrow-down:hover {
  color: #ababab;
  text-decoration: none;
}


/* _________________________________________________________________________ */
/* ABOUT-ME 1 */


#next {
  /* text-align: center; */
  /* padding: 15% 15% 15% 15%; */
  background-color: #f4f4f4;
}

.next-section {
  padding: 5% 12% 5% 12%;
}

.section-next {
  margin-top: 6%;
  margin-bottom: 6%;
}

.img-next {
  color: #212529;
  font-size: 3rem;
  padding-bottom: 6%;
  transition: all 0.5s ease;
}

.img-next:hover {
  color: #ababab;
  text-decoration: none;
}

/* _________________________________________________________________________ */
/* ABOUT-ME 2 */


#about-me {
  background-color: #121417;
  /* padding: 3% 15% 3% 15%; */
  color: #f4f4f4;
}

.about-me-container {
  padding: 3% 15% 3% 15%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.about-me-segment {
  padding: 4%;
}

.about-me-img {
  height: 100px;
  filter: invert(100%);
}

.about-me-img-left {
  margin-right: 30px;
  float: left;
}

.about-me-img-right {
  margin-left: 30px;
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


/* _________________________________________________________________________ */
 /* Porfolio */

	/* Test portfolio*/
	.close {
	  font-size: 1.5rem;
	}

	.col-12 img {
	  opacity: 0.7;
	  cursor: pointer;
	  margin: 2rem;
	  width: 100%;
	}

	.col-12 img:hover {
	  opacity: 1;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	/*End test portfolio*/

#portfolio {

}

.container-portfolio {
  padding: 1% 12% 5% 12%;

}
.image-gallery {
  padding-top: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem; /* 15px */
  grid-template-areas:
      'img-1 img-2 img-3 img-3'
      'img-1 img-4 img-5 img-6'
      'img-7 img-7 img-8 img-6'
      'img-9 img-9 img-9 img-9';
}

.image-gallery a {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  /* Giving position relative to use z-index */
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255,255,255, 0.6);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .8);
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  grid-area: img-1;
  background-image: url("img-1.jpg");
  /* Because in ".image-gallery a" we gave height of 25rem and we want img-1 to take two places in one column, so we need to double height*/
  /* Grid gap is 1.5rem and we need to cover it as well, so that's why 51.5rem */
  min-height: 31.5rem;
}
.img-2 {
  grid-area: img-2;
  background-image: url("img-2.jpg");
}
.img-3 {
  grid-area: img-3;
  background-image: url("img-3.jpg");
}
.img-4 {
  grid-area: img-4;
  background-image: url("img-4.jpg");
}
.img-5 {
  grid-area: img-5;
  background-image: url("img-5.jpg");
}
.img-6 {
  grid-area: img-6;
  background-image: url("img-6.jpg");
  min-height: 31.5rem;
}
.img-7 {
  grid-area: img-7;
  background-image: url("img-7.jpg");
}
.img-8 {
  grid-area: img-8;
  background-image: url("img-8.jpg");
}
.img-9 {
  grid-area: img-9;
  background-image: url("img-9.jpg");
}

@media (max-width: 992px) {
  .image-gallery {
    grid-template-areas:
        'img-1 img-1 img-2 img-2'
        'img-1 img-1 img-3 img-3'
        'img-4 img-4 img-5 img-5'
        'img-6 img-7 img-7 img-7'
        'img-8 img-8 img-9 img-9'
  }

  .img-6 {
    min-height: 15rem;
  }

}

/* Carousel Bootstrap changes - portfolio section*/

.carousel-inner {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: inherit;
}

.carousel-indicators {
  top: 1rem;
}

.carousel-indicators h5 {
  color: #212529;
  cursor: pointer;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  opacity: .5;
  transition: opacity 0.6s ease;
}
.carousel-indicators h5:hover {
  color: #212529;
  cursor: pointer;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  opacity: .5;
  transition: opacity 0.6s ease;
}


@media (prefers-reduced-motion: reduce) {
  .carousel-indicators h5 {
    transition: none;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}


/* _________________________________________________________________________ */
/* Contact Me */


.h3-contact-me {
  padding-top: 45px;
  padding-bottom: 30px;
}

.p-contact-me {
  font-size: 17px;
  padding-bottom: 30px;
  max-width: 470px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.icon-paper-plane {
  margin-right: 10px;
}

.myButton {
	background-color:#f4f4f4;
	display:block;
	cursor:pointer;
	color:#595659;
  font-family: 'Montserrat';
	font-size:15px;
  font-weight: 600;
	padding:13px 32px;
	text-decoration:none;
  width: 222px;
  margin: auto;
  border-radius: 5px;
}
.myButton:hover {
	background-color:#ffffff;
  color: #212529;
  text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* _________________________________________________________________________ */
/* Footer */


#footer {
  text-align: center;
  padding-top: 4rem;
}

.icon-footer {
  font-size: 170%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  padding-right: 1%;
  transition: all 0.5s ease;
}

.icon-footer:hover {
  color: #f4f4f4;
  font-size: 220%;
}

.p-footer {
  line-height: 1.5;
  font-size: 80%;
  padding-bottom: 1.5rem;
}

.p-webdesigner {
  text-align: right;
  margin-right: 15px;
  padding-bottom: 10px;
  margin-block-end: 0;
  font-size: 70%;
  color: #353b45;
  font-style: italic;
}




/* MEDIA QUERY */

@media screen and (max-width: 576px){

  .header {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }

 .section-next {
    margin-top: 12%;
    margin-bottom: 12%;
  }

  .carousel-indicators h5 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .carousel-indicators h5:hover {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .image-gallery {
    grid-gap: 0.5rem;
    grid-template-areas:
        'img-1 img-1 img-2 img-2'
        'img-3 img-3 img-4 img-4'
        'img-5 img-5 img-6 img-6'
        'img-7 img-7 img-8 img-8'
        'img-9 img-9 img-9 img-9'

  }
  .image-gallery a {
    width: 100%;
    height: 8rem;;
  }

  .image-gallery a i {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  .img-1 {
    min-height: 8rem;
  }

  .img-6 {
    min-height: 8rem;
  }

  .icon-footer {
    font-size: 150%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .p-webdesigner {
    font-size: 50%;
  }

}



@media screen and (max-width: 768px){
 .petike-name {
    font-size: 300%;
  }
}

@media screen and (max-width: 991px) {
  .navigation-bar {
    top: 4rem;
    right: 2.5rem;
  }

  .body, .navigation-bar {
    text-align: right;
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px){
  .petike-name {
    font-size: 450%;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1256px){
  .petike-name {
    font-size: 550%;
  }
}
